@import url("../fonts/intro-transfonter/stylesheet.css");
* {
  font-family: "Intro", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}
/* Выделение текста */
*::selection {
  background: #eaeaea40; /* Chromium */
}
*::-moz-selection {
  background: #eaeaea40; /* Firefox */
}

body {
  background-color: #23272f;
  color: white;
  border: none;
}

a {
  color: #fbd495;
}
a:hover {
  color: #d37215;
}
a:focus {
  color: #d37215;
}
a:active {
  color: #fabe60;
}

.blockWithBorders {
  margin: 20px 10px;
  width: 150px;
  height: 51px;
  background-color: #323b46;
  color: #959cf6;
  border: 4px solid #fabe60;
  border-radius: 50px;
  outline: 4px solid #d37215;
  text-align: center;
}

.formName {
  display: inline-block;
  margin: 30px 30px 10px;
  color: #959cf6;
}

.inputStyles {
  margin: 10px 30px 10px;
  width: 200px;
  height: 30px;
  background-color: #323b4615;
}
.inputStyles:hover, :focus {
  border-color: #a67f40;
  outline-color: #8b4a0e;
  color: #fabe60;
}

.buttonStyles {
  width: 150px;
  height: 51px;
  position: relative;
  cursor: pointer;
}
.buttonStyles:active {
  border-color: #fbd495;
  outline-color: #e1a163;
  color: #fbd495;
}
